<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Discord Username" value="{{this.username}}" name="d_username" required>
    <label for="floatingInput">Discord Username</label>
    <div class="valid-feedback">
        Looks good!
    </div>
</div>
<div class="form-floating">
    <input type="number" class="form-control" id="floatingInput" placeholder="Discord Userid" value="{{this.userID}}" name="d_userid" required>
    <label for="floatingInput">Discord Userid</label>
    <div class="valid-feedback">
        Looks good!
    </div>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Discord Role" value="{{this.temporaryRole}}" name="d_role" required>
    <label for="floatingInput">Discord Role</label>
    <div class="valid-feedback">
        Looks good!
    </div>
</div>

<div class="form-floating d-grid">
    <button class="btn btn-primary" type="submit">Save</button>
</div>