{
  "token": "",
  "botID": "",
  "ownerID": "",
  "serverName": "",
  "serverID": "",
  "language": "",
  "cmdPrefix": "?",
  "adminRoleName": "",
  "modRoleName": "",
  "debug": "no",
  "mapMain": {
    "enabled": "yes",
    "url": "https://yourmap.com"
  },
  "paypal": {
    "enabled": "yes",
    "url": "https://www.paypal.me/xyz",
    "img": "https://raw.githubusercontent.com/acocalypso/DiscordRoleManager/master/paypal_icon.jpg"
  },
  "mainChannelID": "",
  "telegram": {
    "tele_enabled": "yes",
    "tele_db_host": "",
    "tele_db_name": "",
    "tele_db_port": "",
    "tele_db_user": "",
    "tele_db_pass": ""
  }
}


